.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Centers the navbar */
  align-items: center;
  background: rgba(20, 20, 20, 0.9);
  padding: 15px 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.logo {
  display: none; /* Hides the Portfolio text */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-item {
  text-decoration: none;
  color: #bbb;
  font-size: 18px;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item:hover {
  color: #ff7b00;
}
